#root {
  margin: 0 auto;
  text-align: center;
}

body {
  margin: 0 auto;
  background-color: rgb(61, 50, 107);
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 500;
}

h3 {
  margin: 0;
}

.main-container {
  margin: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 30%;
  height: 935px;
}

.input-container {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin:auto;
  gap: 10px;
}

.input-container input {
  font-size: 20px;
  width: 450px;
  height: 40px;
  margin-top: 520px;
  background-color: rgba(255, 255, 255, 0.489);
  border: none;
}

.input-container button {
  font-size: 15px;
  width: fit-content;
  margin: auto;
}

.location-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: fit-content;
  height: fit-content;
}

.location-name {
  font-size: 55px;  
  padding: 40px 0 20px 0;
}

.location-info {
  font-size: 16px;
  display: flex;
  justify-content: space-around;
}

.location-info div{
  width: 200px;
}

.location-info h3 {
  color: rgb(240, 240, 63);
}

ul {
  padding: 0;
  list-style-type: none;
}


.residents-container {
  display: grid;
  grid-template-columns: auto auto auto;
  place-content: center;
}

.resident-card {
  background-color: rgb(63, 26, 67);
  width: fit-content;
  border: solid;
  margin: 50px 100px 50px 100px;
}

.resident-info {
  margin-top: 10px;
}

.character-name {
  text-align: center;
  font-size: 22px;
  font-weight: 700;
}

.status {
  position: absolute;
  width: fit-content;
  margin-top: -30px;
  font-weight: 500;
  font-size: 13px;
  color: white;
  background-color: rgb(63, 26, 67);
  border-radius: 0 20% 20% 0;
  display: flex;
  gap: 5px;
  place-items: center;
}

.status-icon {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

li {
  text-align: left;
  margin-left: 10%;
}

li b {
  font-size: 12px;
  color:rgba(255, 255, 255, 0.5);
  font-weight: 700;
}

li p {
  font-size: 18px;
  font-weight: 500;
  margin: 10px 0 10px 0;
}