#root {
  margin: 0 auto;
  text-align: center;
}

body {
  margin: 0 auto;
  background-color: rgb(61, 50, 107);
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 500;
}

h3 {
  margin: 0;
}

.main-container {
  margin: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 30%;
  height: 935px;
}

@media (max-width: 430px) {
  .main-container {
    background-position: 49.5% 30%;
    background-size: 250%;
    margin-right: -18px ;
    height: 530px;
  }
}

.input-container {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin:auto;
  gap: 10px;
}

.input-container input {
  font-size: 20px;
  width: 450px;
  height: 40px;
  margin-top: 520px;
  background-color: rgba(255, 255, 255, 0.489);
  border: none;
}

.input-container button {
  font-size: 15px;
  width: fit-content;
  margin: auto;
}

@media (max-width: 830px) {
  .input-container input {
    font-size: 18px;
  }
}

@media (max-width: 430px) {
  .input-container {
    gap: 10px
  }

  .input-container input {
    font-size: 15px;
    width: 165px;
    height: 30px;
    margin-top: 280px;
  }

  .input-container button {
    height: 30px;
  }
}

.location-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: fit-content;
  height: fit-content;
}

.location-name {
  font-size: 55px;  
  padding: 40px 0 20px 0;
}


.location-info {
  font-size: 16px;
  display: flex;
  justify-content: space-around;
}

@media (max-width: 830px) {
  .location-name {
    font-size: 45px;
  }
  .location-info {
    font-size: 14px;
  }
}

@media (max-width: 830px) {
  .location-name {
    font-size: 25px;
  }
  .location-info {
    font-size: 15px;
    flex-direction: column;
    margin: auto;
  }
}

.location-info div{
  width: 200px;
}

.location-info h3 {
  color: rgb(240, 240, 63);
}

ul {
  padding: 0;
  list-style-type: none;
}

.residents-container {
  display: grid;
  grid-template-columns: auto auto auto;
  place-content: center;
}

.resident-card {
  background-color: rgb(64, 33, 67);
  width: fit-content;
  max-width: 300px;
  border: solid;
  margin: 50px 100px 50px 100px;
}

.resident-card:hover {
  cursor: pointer;
  background-color: rgb(82, 44, 87);
}

@media (max-width: 830px) {
  .residents-container {
    grid-template-columns: auto auto;
  }
  .resident-card {
    margin: 25px 50px 25px 50px;
  }
}

@media (max-width: 430px) {
  .residents-container {
    grid-template-columns: auto auto;
    place-items: center;
    margin: auto;
    margin-top: 50px;
  }
  .resident-img-container img {
    width: 150px;
  }
  .resident-card {
    margin: 10px;
  }
}

.resident-info {
  margin-top: 10px;
}

.character-name {
  word-wrap: break-word;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
}

.status {
  position: absolute;
  width: fit-content;
  margin-top: -30px;
  font-weight: 500;
  font-size: 13px;
  color: white;
  background-color: rgb(63, 26, 67);
  border-radius: 0 20% 20% 0;
  display: flex;
  gap: 5px;
  place-items: center;
}

.status-icon {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

li {
  word-wrap: break-word;
  text-align: left;
  margin-left: 10%;
}

li b {
  word-wrap: break-word;
  font-size: 12px;
  color:rgba(255, 255, 255, 0.5);
  font-weight: 700;
}

li p {
  word-wrap: break-word;
  font-size: 18px;
  font-weight: 500;
  margin: 10px 0 10px 0;
}

@media (max-width: 430px) {

  .status {
    font-size: 8px
  }
  .character-name {
    font-size: 15px
  }

  li b {
    font-size: 8.5px;
  }

  li p {
    font-size: 12px
  }
}